# Assignments for "Dataframe Basics"

Please upload your solutions for the following assignments as Jupyter Notebook to your GitHub account and share the GitHub link by the button below. You can discuss with your mentor about the issues you have in mind or ask at office time on Slack.

1.Create a DataFrame whose index is the first 10 letters of the alphabet and contains two more columns with first 10 prime numbers and the first 10 fibonacci numbers.

In [2]:
import pandas as pd
example_dict = {'letter': ['A', 'B','C', 'D', 'E', 'F', 
                         'G', 'H', 'I','J'],
                'prime_number': [2, 3, 5, 7, 11, 13, 17, 19, 23, 29],
                'fibonacci_number': [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]}
example_df = pd.DataFrame(example_dict)
example_df

  letter  prime_number  fibonacci_number
0      A             2                 0
1      B             3                 1
2      C             5                 1
3      D             7                 2
4      E            11                 3
5      F            13                 5
6      G            17                 8
7      H            19                13
8      I            23                21
9      J            29                34